/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat 400', sans-serif;
  font-size: 1em;
}

h2 {
    font-family: 'Source Code Pro 600', monospace;
    font-size: 2.25em;
    color: #6F1696;
    text-transform: lowercase;
}

h3 {
    font-family: 'Montserrat 700', sans-serif;
    font-size: 1.5em;
    color: #ffffff; 
    } 

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}






/* -------------------- Base Header - Footer Styles -------------------- */

header {
    background-color: #1F202B; 
    display: flex;
    justify-content: center;
    align-items: center;
     
}

header .content-wrapper{
    margin: 20px 0;
    width: 100%;
    margin: 0;
}

.header-divider {
  background: #ffffff;
  height: 1px;
  width: 100%;
  }

header p {
    text-align: center;
    font-size: 1.5em;
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

header nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 70%;
    
}

header p, a {
    text-transform: lowercase;
    text-decoration: underline;
    color: #ffffff;
}

.content-wrapper {
  width: 100%;
  margin: 50px 0;
}



/* -------------------- Mobile Styles - Homepage -------------------- */


/****** HERO ******/

#hero-area {
    display: flex;
    justify-content: center;    
    min-height: 850px;
    background: url('../img/hero-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#hero-area h1 {
    font-family: 'Source Code Pro 600', monospace;
    font-size: 3.5em;
    line-height: 1.2em;
    color: #ffffff;
    text-transform: lowercase;
    padding: 60px 10px;
}

#hero-area span {
    color: #0000ff;
}

/****** PORTFOLIO ******/

#portfolio {
    display: flex;
    flex-flow: column wrap;
    background-color: #1F202B;  
    align-content: center;
}

#portfolio .content-wrapper {
    margin: 20px 20px;
}

#portfolio .portfolio-pic {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

 #portfolio img {
    width: 80%;
    margin: auto;   
 }

 #portfolio .portfolio-description {
    width: 80%;
    justify-content: center;
    padding: 30px 40px;

    
    
 }

 #portfolio .portfolio-description h3 {
    font-size: 1em;
    text-align: center;
    
 }

 #portfolio .portfolio-description p {
    text-align: center;

 }

#portfolio h2 {
    text-align: center;
}

#portfolio h3 {
    font-family: 'Montserrat 700', sans-serif;
    font-size: 1.5em;
    color: #ffffff; 
    text-align: center; 

}

#portfolio p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

#portfolio span {
    font-family: 'Montserrat', sans-serif;
    color: #6F1696;

 }  

#portfolio a {
    text-decoration: underline;
    color: #6F1696;
 }

 


/***** ABOUT *****/

#about {
    display: flex;
    flex-flow: row wrap;
    min-height: 450px;
    background: url('../img/about-me.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
       
}

#about p, li{
    color: #1F202B;
}

#about .content-wrapper {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin: 0 20px;
    padding: 0;

}

#about h2 {
    margin: 20px 0 0 0;
    text-align: center;
    width: 100%;
}

#about p {
    margin: 0;
}

 

/****** CONTACT *******/

footer {
    display: flex;
    background-color: #1F202B;
    min-height: 600px;
    flex-flow: row wrap;
}

footer .content-wrapper {
    margin: 20px 0;
}

footer .contact-content {
    display: flex;
    flex-flow: column wrap;
}

footer .social {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    padding: 40px 0;
}

footer .social-icons {
    font-size: 2em;
    display: flex;
    width: 40%;
    justify-content: space-between;

}

footer .social-icons p {
    margin: 0;
}

footer .contact {
    text-align: center;
    padding: 40px 0 20px 0;
}

footer .social-icons {
    text-align: center;
}


footer h2 {
    margin: 0;
    text-align: center;
    width: 100%;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

footer h4 {
    margin: 20px 0;
    font-family: 'Montserrat 700', sans-serif;
    font-size: 1em;
    color: #ffffff;
}

footer .copyright {
    display: flex;
    width: 100%;
    justify-content: center;
}
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* TABLET STYLES HERE */
@media only screen and (min-width:768px) {

    footer .content-wrapper {
      width: 100%;
      margin: 60px 0;
    }

    footer .contact-content {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

    footer .contact {
        width: 50%;
    }

    footer .social {
      width: 50%;
      text-align: center;
    }


    footer .social-icons {
        justify-content: space-between;
    }

}   

/* DESKTOP STYLES HERE */
@media only screen and (min-width: 1200px){


}






/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
